{% extends 'base.html' %}

{% block content %}

  
    <h2>Создание приказа об увольнении</h2>
    <br>
    <div style="margin-top: 20px;">
        <a href="{% url 'dashboard' %}" class="btn">← Назад в личный кабинет</a>
    </div>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.order_type }}
        
        <div class="form-row">
            <div class="form-group">
                {{ form.number.label_tag }}
                {{ form.number }}
                {{ form.number.errors }}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group">
                {{ form.position.label_tag }}
                {{ form.position }}
                {{ form.position.errors }}
            </div>
            <br>
            <div class="form-group">
                {{ form.department.label_tag }}
                {{ form.department }}
                {{ form.department.errors }}
            </div>
            <br>
            <div class="form-group">
                {{ form.salary.label_tag }}
                {{ form.salary }}
                {{ form.salary.errors }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                {{ form.fullname.label_tag }}
                {{ form.fullname }}
                {{ form.fullname.errors }}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <br>
            <div class="form-group">
                {{ form.phone.label_tag }}
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>
        </div>
        <br>
        <div class="form-group">
            {{ form.basis.label_tag }}
            {{ form.basis }}
            {{ form.basis.errors }}
        </div>
        <br>
        <div class="alert alert-info">
            Пароль для нового сотрудника будет сгенерирован автоматически и записан в логи сервера.
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Создать приказ</button>
    </form>

{% endblock %}