{% extends 'base.html' %}

{% block content %}
<h2>Список больничных</h2>
<div style="margin-top: 20px;">
    <a href="{% url 'dashboard' %}" class="btn">← Назад в личный кабинет</a>
</div>
<br>
<table>
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Номер больничного листа</th>
            <th>Номер приказа</th>
        </tr>
    </thead>
    <tbody>
        {% for sick_leave in sick_leaves %}
        <tr>
            <td><a class="tablelink" style="display: block; text-decoration: none"  href="{% url 'update_sickleave' pk=sick_leave.id %}">{{ sick_leave.employee.fullname }}</a></td>
            <td><a class="tablelink" style="display: block; text-decoration: none"  href="{% url 'update_sickleave' pk=sick_leave.id %}">{{ sick_leave.start_date }}</a></td>
            <td><a class="tablelink" style="display: block; text-decoration: none"  href="{% url 'update_sickleave' pk=sick_leave.id %}">{{ sick_leave.end_date }}</a></td>
            <td><a class="tablelink" style="display: block; text-decoration: none"  href="{% url 'update_sickleave' pk=sick_leave.id %}">{{ sick_leave.sick_number }}</a></td>
            <td><a class="tablelink" style="display: block; text-decoration: none"  href="{% url 'update_sickleave' pk=sick_leave.id %}">{{ sick_leave.order.number }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}