{% extends 'base.html' %}

{% block content %}
<h2>Список отпусков</h2>
<div style="margin-top: 20px;">
    <a href="{% url 'dashboard' %}" class="btn">← Назад в личный кабинет</a>
</div>
<br>
<table>
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Оплачиваемый</th>
            <th>Номер приказа</th>
        </tr>
    </thead>
    <tbody>
        {% for vacation in vacations %}
        <tr>
            <td>{{ vacation.employee.fullname }}</td>
            <td>{{ vacation.start_date}}</td>
            <td>{{ vacation.end_date}}</td>
            <td>{% if vacation.is_paid %}Да{% else %}Нет{%endif%}</td>
            <td>vacation.order.number</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}