{% extends 'base.html' %}

{% block content %}
<h2>Список отпусков</h2>
<div style="margin-top: 20px;">
    <a href="{% url 'dashboard' %}" class="btn">← Назад в личный кабинет</a>
</div>
<br>
<table>
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Оплачиваемый</th>
            <th>Номер приказа</th>
        </tr>
    </thead>
    <tbody>
        {% for vacation in vacations %}
        <tr>
            <td><a class="tablelink" style="display: block; text-decoration: none"  href="{% url 'update_vacation' pk=vacation.id %}">{{ vacation.employee.fullname }}</a></td>
            <td><a class="tablelink" style="display: block; text-decoration: none"  href="{% url 'update_vacation' pk=vacation.id %}">{{ vacation.start_date}}</a></td>
            <td><a class="tablelink" style="display: block; text-decoration: none"  href="{% url 'update_vacation' pk=vacation.id %}">{{ vacation.end_date}}</a></td>
            <td><a class="tablelink" style="display: block; text-decoration: none"  href="{% url 'update_vacation' pk=vacation.id %}">{% if vacation.is_paid %}Да{% else %}Нет{%endif%}</a></td>
            <td><a class="tablelink" style="display: block; text-decoration: none"  href="{% url 'update_vacation' pk=vacation.id %}">{{vacation.order.number}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}