<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="sidebar">
        <h3>Меню сотрудника</h3>
        <ul>
            <li><a href="{% url 'employee_list' %}">Список сотрудников</a></li>
            <li><a href="{% url 'vacations' %}">Список отпусков</a></li>
            <li><a href="{% url 'sickleaves' %}">Список больничных</a></li>
        </ul>
    </div>
    
    {% if user.is_head  or user.is_superuser %}
    <div class="main-content">
        
        <div class="actions">
            <a href="" class="btn">Новый приказ об увольнении</a>
            <a href="" class="btn">Новый приказ об отпуске</a>
            <a href="" class="btn">Новый приказ о найме</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}